:root {
  /**
      * colors
      */
  /* gradient */
  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right,
    hsl(45, 100%, 72%),
    hsl(35, 100%, 68%)
  );
  /* solid */
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
  /**
      * typography
      */
  /* font-family */
  --ff-poppins: "Poppins", sans-serif;
  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;
  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  /**
      * shadow
      */
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  /**
      * transition
      */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

#side .nav-link.active,
#side .nav-link:hover,
#side .nav-link:focus {
  color: #111;
  border-bottom: 1px #000 dashed;
}

#left,
#right {
  border-radius: 20px;
  /* background: var(--bg-gradient-onyx); */
  background: #1e1e1f;
}
#side {
  border-radius: 100px;
}
.side-img img {
  border-radius: 30px;
}

.avatar-box {
  border-radius: 20px;
}

.avatar-box img {
  /* background: var(--bg-gradient-onyx); */
  border-radius: 20px;
}
.side-nav {
  list-style: none;
}
.java-cv a {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-9);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px 5px;
  border-radius: 8px;
}
.left-nav {
  /* background: var(--bg-gradient-onyx); */
  background-color: #333333;
}
.icon-box {
  background: #202022;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange-yellow-crayola);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px;
  z-index: 1;
}
.con-div:hover {
  .icon-box {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
  }
  cursor: pointer;
}

.icon-box:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* transform: translateY(0.5em); */
}

.icon-box i {
  transition: transform 0.5s;
}

.icon-box:hover i {
  /* transform: scale(0.9); */
  fill: #333333;
}

.nav-tab-bar {
  display: block;
}
/* .hr-one {
  display: none;
} */

@media (min-width: 450px) {
  .nav-tab-bar {
    display: none;
  }
  /* .hr-one {
    display: block;
  } */
}

#linkedin:hover {
  background-color: #0077b5;
  color: white;
  box-shadow: 0px 2px 25px 5px #0077b5;
}
#linkedin span {
  transition: transform 0.5s ease-in-out;
}
#linkedin:hover span {
  transform: rotate(360deg);
}
.linkedin-tooltip .tooltip-inner {
  background-color: #0077b5;
  color: #fff;
}
#github:hover {
  background-color: #171515;
  /* git */
  box-shadow: 0px 2px 25px 5px #171515;
  color: white;
}

#github span {
  transition: transform 0.5s ease-in-out;
}

#github:hover span {
  transform: rotate(360deg);
}

.github-tooltip .tooltip-inner {
  background-color: #171515;
  color: #fff;
}
#instagram:hover {
  background-color: #f56040;
  box-shadow: 0px 2px 25px 5px #f56040;
  /* insra */
  color: white;
}

#instagram span {
  transition: transform 0.5s ease-in-out;
}
#instagram:hover span {
  transform: rotate(360deg);
}

.instagram-tooltip .tooltip-inner {
  background-color: #f56040;
  color: #fff;
}
#twitter:hover {
  background-color: #1da1f2;
  box-shadow: 0px 2px 25px 5px #1da1f2;
  /* twitter */
  color: white;
}
#twitter span {
  transition: transform 0.5s ease-in-out;
}
#twitter:hover span {
  transform: rotate(360deg);
}

.twitter-tooltip .tooltip-inner {
  background-color: #1da1f2;
  color: #fff;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.download-cv {
  background: #2b2b2c;
  /* border: solid yellow; */
}
.download-cv:hover {
  /* background-color: ; */
  border: solid 1px yellow;
}
#download-arrow {
  animation: movedown 1s infinite alternate;
}

@keyframes movedown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* ================================== */
.nav-link {
  border: none !important;
  color: white !important;
}
.nav-link.active {
  color: yellow !important;
  background-color: transparent !important;
}
.nav-link:hover {
  border: transparent none !important;
  color: #d4d4d4 !important;
}

/* ============About Me======== */
.about-card {
  background-color: #222224;
  transition: transform 0.5s ease-in-out;
}
.about-card:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card img {
  fill: #000;
  /* width: 500px; */
}
.card:hover img {
  scale: 0;
}

.card__description {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
/* ============About Me End======== */
/* ============resume======== */
.resume-card {
  background-color: #222224;
  color: #fff;
  transition: transform 0.5s ease-in-out;
}
.resume-card:hover {
  transform: scale(1.1);
}
hr {
  color: white;
}
/* ============Resume======== */
/* ============Skill======== */
.skills-title {
  margin-bottom: 20px;
}

.skills-list {
  padding: 20px;
  background-color: #222224;
}

.skills-item:not(:last-child) {
  margin-bottom: 15px;
}

.skill .title-wrapper data {
  color: var(--light-gray);
  /* color: #383838; */
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
}

.skill-progress-bg {
  background: var(--jet);
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: var(--text-gradient-yellow);
  height: 100%;
  border-radius: inherit;
}
/* ============Skill End======== */

/* ------------------------ */
.article-title {
  margin-bottom: 30px;
}

/**
 * education and experience 
 */

.timeline {
  margin-bottom: 30px;
}

.timeline .title-wrapper {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 15px; */
  /* margin-bottom: 25px; */
}

.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-item {
  position: relative;
}

.timeline-item:not(:last-child) {
  /* margin-bottom: 20px; */
}

.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
  /* margin-bottom: 7px; */
}

.timeline-list span {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--jet);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--text-gradient-yellow);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}
/* ------------------------ */
